#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.product-item img {
  width: 250px; /* Set the width to be same size */
  height: 250px; /* Set the height to be same size */
  object-fit: cover; /* Ensures the image scales properly without distortion */
  border-radius: 8px; /* Optional: Add rounded corners for a consistent look */
}
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem; /* Add some space between items */
}

h1{color: #300c0c;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e43838,
   0 0 20px #ca364a, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;} /* same text shadow like the pokemon app */

img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
} /* same hover effect like the event center project*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
